<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "post", role="form", action="">
        {{ form.hidden_tag() }}
        {{ form.stage_name.label }} <br><br>
        {{ form.stage_name }} <br><br>
        {{ form.full_name.label }} <br><br>
        {{ form.full_name }} <br><br>
        {{ form.group.label }} <br><br>
        {{ form.group }}
        <br><br>
        {{ form.submit }}
    </form>
</body>
</html>