<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Index</td>
            <td>Stage name</td>
            <td>Full name</td>
            <td>Korean name</td>
            <td>DOB</td>
            <td>Group</td>
        </tr>
        {% for idol in idols_data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ idol.stage_name}}</td>
            <td>{{ idol.full_name }}</td>
            <td>{{ idol.kor_name}}</td>
            <td>{{ idol.dob }}</td>
            <td>{{idol.group }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>